$primaryColor_black:#0c1e1a;
$primaryColor_green:#1e6655;
$primaryColor_pistachio:#effaf7;
$secondaryColor_seaGreen:#b7cec9;
$secondaryColor_sage:#e4efec;
$secondaryColor_white:#ffffff;
$desktop-breakpoint:1280px;
$tablet-breakpoint1:768px;
$tablet-breakpoint2:1279px;