@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.comment {
  &__label {
    display: block;
    margin-bottom: 0.75rem;
    color: $primaryColor_black;
    font-weight: 500;
    font-size: 0.875rem;
  }
  &__input {
    width: 100%;
    min-height: 1.875rem;
    padding: 8px;
    margin-top: 0.5rem;
    border: 2px solid $secondaryColor_seaGreen;
    border-radius: 10px;

    @include tablet {
      min-height: 2.5rem;
      padding: 8px 1rem;
    }
    &:active {
      border: 2px solid $secondaryColor_seaGreen;
    }

    &:focus {
      border-color: $primaryColor_green;
    }

    &.error {
      border-color: #b10606;
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    margin-top: 0.625rem;
    background-color: $primaryColor_green;
    border: none;
    padding: 0.5rem 0.75rem;
    align-self: flex-end;
    border-radius: 10px;
    color: white;
  }
}
